@require "../__defaults.styl"

.popup_dialog__title // {{{
    padding: $padding_offset 0
    padding-right: 40px
    font-size: $font-size-l
    color: lighten($neutral-color,20%)
    padding-top: 2px
    // }}}
