@require "../__defaults.styl"

.popup_dialog__close_button // {{{
    position: absolute
    right: 0
    padding: 0
    cursor: pointer
    color: lighten($neutral-color,50%)
    font-size: 18px
    &:hover
        color: lighten($neutral-color,25%)
        // color: $accent-color
    // }}}
