@require "../__defaults.styl"

.popup_dialog__text // {{{
    // border: 1px solid red
    // padding-top: 15px
    padding-bottom: 20px
    p
    h1
    h2
    h3
        padding-top: .7em
        padding-bottom: .3em
    h1
    h2
    h3
        color: $light-text-color
        // padding-top: 1em
        // padding-bottom: .7em
    h1
        // font-size: $font-size-xl
        font-size: 155%
    h2
        // font-size: $font-size-l
        font-size: 135%
    h3
        // font-size: $font-size-normal
        font-size: 125%

    // }}}
