zia*
*_
*~
node_modules*/
libs/
.DS_Store
.idea
.project
.svn
npm-debug.log
\!ARC*

/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs

.bem/cache/
.enb/tmp/
*pages*/*/*.*
!*pages*/*/*.bemjson

!libs-arc/*.zip

!node_modules/gulp-jsdoc3/node_modules/jsdoc/plugins/foldmarkers.js
