/**
 * @overview Размерности и линейные переменные
 * $Date: 2017-07-10 16:21:20 +0300 (Mon, 10 Jul 2017) $
 * $Id: dimensions.styl 8722 2017-07-10 13:21:20Z miheev $
 */

// boxes:

$input_size = 28px

$view_panel__toolbox_height = 50px

$box_actions_height = 50px
$box_actions_line_offset = 5px
$box_actions_line_inner_offset = 6px
$box_actions_items_spacing = 2px
$box_actions_groups_spacing = 5px

$box_filters_height = 50px
$box_filters_line_offset = 5px
$box_filters_line_inner_offset = 6px
$box_filters_items_spacing = 2px
$box_filters_groups_spacing = 5px

$box_columns_selector_height = 150px
$box_columns_selector_line_offset = 5px

$box_navbar_height = 35px
$box_navbar_line_offset = 4px

$app_panel_spacing = 15px

// $collapse-width = 768px
// $collapse-width-treshold = $collapse-width - 1px
