/**
 * @overview Адреса к ресурсам сайта (`coreUrl` etc) в зависимости от окружения (сервер, сборка) и параметров (отладка, продакшн).
 * $Date: 2017-04-09 20:07:24 +0300 (Sun, 09 Apr 2017) $
 * $Id: urls.styl 8100 2017-04-09 17:07:24Z miheev $
 */

// if ENB_MODE == 'REAL'
//     // $coreUrl = unquote('/WEB_TINTS/core')
//     $coreUrl = unquote('../../') // Относительно `.../core/css/bem/*`
// else
//     $coreUrl = unquote('/core/')
