$default_progress_height = 2px
$minimal_progress_height = 2px

$progress_default_color = lighten($neutral-color,25)
$progress_bar_color = $accent-color
$progress_glow_color = lighten($accent-color,10)

above_spin()
    z-index: 1002
$above_spin
    above_spin()

