@require "../__defaults.styl"

.popup_dialog__container // {{{

    // padding: $padding_offset 0
    padding: 0

    // :not(.popup_dialog__popup_spin) &
    overflow: auto

    /*
    h1
        font-size: $font-size-l

    h1 + p
        margin-top: ( $text_offset * 2 )

    p + p
        margin-top: $text_offset
    */

    // }}}
