// $Date: 2017-07-21 22:01:17 +0300 (Fri, 21 Jul 2017) $
// $Id: box.styl 8794 2017-07-21 19:01:17Z miheev $

.box
    box-sizing: border-box
    overflow: hidden

    // DEBUG

    &_id_
        &testBoxset
            & > ^[0]__container
                border: 10px solid alpha(#999,.5)

        &testBox1
            & > ^[0]__container
                border: 1px solid alpha(red,.5)

        &testBox12
            & > ^[0]__container
                border: 1px solid alpha(blue,.5)

        &testBox2
            & > ^[0]__container
                border: 5px solid alpha(green,.5)

    //
