@require "../__defaults.styl"

.popup_dialog__input // {{{
    clearfix()
    oveflow: hidden
    background: alpha(#FFF,.5)
    padding: 5px 10px
    margin: 1px 0
    &.hidden
        display: none
    // }}}
