// $Date: 2017-02-08 16:51:10 +0300 (Wed, 08 Feb 2017) $
// $Id: splashform__action.styl 7257 2017-02-08 13:51:10Z miheev $

@require "../__defaults.styl"

.splashform__action
    // margin: 10px $hspaceHalf
    margin: 5px
    display: inline-block
    //
