// $Date: 2017-07-21 16:21:40 +0300 (Fri, 21 Jul 2017) $
// $Id: box_root.styl 8790 2017-07-21 13:21:40Z miheev $

// @require '../!Defaults.styl'

.box
    &_root
        width: 100%
        height: 100%
