// $Date: 2017-03-09 22:37:35 +0300 (Чт, 09 мар 2017) $
// $Id: page_message__text.styl 7531 2017-03-09 19:37:35Z miheev $

.page_message__text
    margin-bottom: 10px
    // font-size: $font-size-normal
    .appholder &
        font-size: $font-size-l
