@require "../__defaults.styl"

.popup_dialog__input_edit // {{{
    // @extend $input_field
    input_field()
    // box-shadow: inset 0 0 0 1px red
    // text-overflow: ellipsis
    .select
    .input
    .button
        width: 100%
    .select
        // styles moved to 'select_theme_islands.styl'
    // }}}
