// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

// Utilities

@require "bootstrap/mixins/hide-text"
@require "bootstrap/mixins/opacity"
@require "bootstrap/mixins/image"
@require "bootstrap/mixins/labels"
@require "bootstrap/mixins/reset-filter"
@require "bootstrap/mixins/resize"
@require "bootstrap/mixins/responsive-visibility"
@require "bootstrap/mixins/size"
@require "bootstrap/mixins/tab-focus"
@require "bootstrap/mixins/reset-text"
@require "bootstrap/mixins/text-emphasis"
@require "bootstrap/mixins/text-overflow"
@require "bootstrap/mixins/vendor-prefixes"

// Components
@require "bootstrap/mixins/alerts"
@require "bootstrap/mixins/buttons"
@require "bootstrap/mixins/panels"
@require "bootstrap/mixins/pagination"
@require "bootstrap/mixins/list-group"
@require "bootstrap/mixins/nav-divider"
@require "bootstrap/mixins/forms"
@require "bootstrap/mixins/progress-bar"
@require "bootstrap/mixins/table-row"

// Skins
@require "bootstrap/mixins/background-variant"
@require "bootstrap/mixins/border-radius"
@require "bootstrap/mixins/gradients"

// Layout
@require "bootstrap/mixins/clearfix"
@require "bootstrap/mixins/center-block"
@require "bootstrap/mixins/nav-vertical-align"
@require "bootstrap/mixins/grid-framework"
@require "bootstrap/mixins/grid"
