// Mixins
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

// Utilities

@require "mixins/hide-text"
@require "mixins/opacity"
@require "mixins/image"
@require "mixins/labels"
@require "mixins/reset-filter"
@require "mixins/resize"
@require "mixins/responsive-visibility"
@require "mixins/size"
@require "mixins/tab-focus"
@require "mixins/reset-text"
@require "mixins/text-emphasis"
@require "mixins/text-overflow"
@require "mixins/vendor-prefixes"

// Components
@require "mixins/alerts"
@require "mixins/buttons"
@require "mixins/panels"
@require "mixins/pagination"
@require "mixins/list-group"
@require "mixins/nav-divider"
@require "mixins/forms"
@require "mixins/progress-bar"
@require "mixins/table-row"

// Skins
@require "mixins/background-variant"
@require "mixins/border-radius"
@require "mixins/gradients"

// Layout
@require "mixins/clearfix"
@require "mixins/center-block"
@require "mixins/nav-vertical-align"
@require "mixins/grid-framework"
@require "mixins/grid"
