// $Date: 2017-03-09 22:37:35 +0300 (Чт, 09 мар 2017) $
// $Id: page_message.styl 7531 2017-03-09 19:37:35Z miheev $

.page_message
    margin-top: 20px
    &__container
        text-align: center
    //
