.textarea

    border-radius: ( $input-border-radius-m - 1px )
    border: 1px solid $input-border-color

    &.textarea_hovered
        border-color: $input-border-hovered-color
        box-shadow: $input-glow-hovered
    &.textarea_focused
        border-color: $input-border-focused-color
        box-shadow: $input-glow-focused

