// $Date: 2017-04-13 20:46:30 +0300 (Чт, 13 апр 2017) $
// $Id: box_h.styl 8140 2017-04-13 17:46:30Z miheev $

// @require '../!Defaults.styl'

.box
    position: relative

    // Горизонтальная разметка...
    &_h
        height: 100%
        width: auto
        float: left

        &^[0]_maximized
            width: 100%
        //

